CLERK_PUBLISHABLE_KEY=pk_test_Y29vbC1nZWNrby0zMS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_Z8AY0muiFqXp6gO0qYaXJ5okvqmzBau5edYlcQcxGI

# Optional: Configure CORS origins (comma-separated, or * for all)
# CORS_ORIGIN=http://localhost:3000,https://yourdomain.com

# Optional: Set to production for reduced error verbosity
# NODE_ENV=production


SUPABASE_URL=https://ffedtexzybmyoyxtbuxe.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmZWR0ZXh6eWJteW95eHRidXhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwNjY4OTUsImV4cCI6MjA3NzY0Mjg5NX0.7kztPpU8a7JumXGKU-wcwdW6oLT5To5wOy3Oi_u_-4k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmZWR0ZXh6eWJteW95eHRidXhlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjA2Njg5NSwiZXhwIjoyMDc3NjQyODk1fQ._Wsz2nh-4V10EW_2xJD07vcGsDggzWVH3FkxDnrdJQM
JWT_SECRET=my_super_secret
PORT=5000
JWT_SECRET=5a1071500a93dc9528ba72f7a391e02c86eaf0eeebe42bfaf52038a008195d52
EMAIL_USER=iamashen27@gmail.com
EMAIL_PASSWORD=jpqb cnkm snnm tapc
APP_NAME=Project Manager
FRONTEND_URL=http://localhost:5173




